﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ExpoGAN";
}

<div class="text-center">
    <h1 class="display-3">ExpoGAN</h1>
    <h2 class="display-5">Explore GAN models with these interactive demos!</h2>
</div>
<hr class="mt-3 mb-3" />
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card mb-3 text-center align-items-center">
                <img class="card-img-top" src="~/images/emojis-generator-banner.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        Interpolating between generated emojis with DCGAN
                    </h5>
                    <p class="card-text">An interactive emoji generator that allows you to pick 2 randomly generated emojis and visualize the interpolation from one to the other.</p>
                    <a class="btn btn-primary" asp-area="" asp-page="/Emojis">Generate Emojis!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card mb-3 text-center align-items-center">
                <img class="card-img-top" src="~/images/emojis-latentship-banner.png" alt="Card image cap" style="width: 20%;">
                <div class="card-body">
                    <h5 class="card-title">
                        Generating emojis from latent space manipulations with DCGAN
                    </h5>
                    <p class="card-text">An interactive emoji generator that allows you draw (manipulate) the latent space and visualize its emoji representation.</p>
                    <a class="btn btn-primary" href="http://localhost:8000/">Generate Emojis!</a>
                </div>
            </div>
        </div>
    </div>
</div>